.tasks-list__add-button {
	border: 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background-color: #4285f4;
	padding: 20px 200px;
	border-radius: 3px;
	transition: 0.1s ease-in;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

.tasks-list__add-button:hover {
	opacity: 0.7;
}

.tasks-list {
	margin: 30px auto;
	padding: 0;
	list-style: none;
	width: 90%;
}

@media screen and (max-width: 500px) {
	.tasks-list__add-button {
		padding: 20px 100px;
	}
}
